body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 10px;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background: none;
    font-size: 16px;
}

.tab.active {
    border-color: #28a745;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.totals {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;
}

.total-text {
    margin: 5px 0;
    color: #333;
}

.bankA {
    color: #007bff; /* Color para BCP */
}

.bankB {
    color: #dc3545; /* Color para Scotiabank */
}

.total {
    color: #28a745;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

#transactionsList, #loansList {
    max-height: 200px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.income {
    color: green;
}

li.expense {
    color: red;
}

li.loan {
    color: blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.payLoan, button.reduceLoan {
    background: #dc3545;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}

button.payLoan:hover, button.reduceLoan:hover {
    background: #c82333;
}

.reduce-debt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.reduce-debt-container input {
    width: 60%;
}