/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.tab-button.active {
    background-color: #4CAF50;
}

.tab-content {
    display: none;
    max-width: 600px;
    margin: 0 auto;
}

.tab-content.active {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-left: 5px solid;
}

.income {
    border-color: green;
    color: green;
}

.expense {
    border-color: red;
    color: red;
}

.loan {
    border-color: blue;
    color: blue;
}

button.reduceLoan, button.addLoanAmount, button.payLoan {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button.reduceLoan:hover, button.addLoanAmount:hover, button.payLoan:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .tabs {
        flex-direction: column;
        align-items: center;
    }

    .tab-button {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
    }

    .tab-content {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    input, select, button {
        font-size: 16px;
        padding: 8px;
    }

    li {
        font-size: 14px;
    }

    button.reduceLoan, button.addLoanAmount, button.payLoan {
        padding: 7px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    .tab-button {
        padding: 10px;
    }

    .tab-content {
        padding: 10px;
    }

    input, select, button {
        font-size: 14px;
        padding: 7px;
    }

    li {
        font-size: 12px;
        padding: 8px;
    }

    button.reduceLoan, button.addLoanAmount, button.payLoan {
        padding: 5px;
        font-size: 12px;
    }
}
